.navbar {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    /* Booking.com blue */
    color: white;
    font-size: 1.2rem;


}

.navbarContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75rem;
}

.navbar-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.navbar-item:hover {
    background-color: #1a4da0;
}

.navbar-item.active {
    border: 0.2rem solid white;
    background-color: #1a4da0;
}

.navbar-top {
    display: flex;
    flex-direction: row;
    gap: 50rem;
    ;
}

.nav-btn {
    margin: 0.2rem;
    color: #1a4da0;
}